* {
    margin: 0;
    padding: 0;
    font-family: sans-serif, Arial, serif;
}

:root {
    --dark-blue: rgba(2, 37, 62);
    --blue: rgb(1 103 177);
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 10px var(--blue);
    background-color: var(--dark-blue);
    color: white;
    align-items: center;
    padding: 1rem calc(50vw - 500px);
}

h1 {
    font-size: 20px;
    font-weight: 400;
    padding-right: 1rem;
}

header > img {
    height: 50px;
    filter: brightness(100);
    padding-left: 1rem;
}

/* Table */

table {
    padding: 1rem calc(50vw - 500px);
    border-spacing: 0px;
}

th {
    padding: 0.4rem;
}

td {
    padding: 0.4rem;
}

.flag {
    height: 50px;
}

.row-colour-1 {
    background-color: var(--dark-blue);
    color: white;
}

.row-colour-2 {
    background-color: var(--blue);
    color: white;
}

/* Notes */
/* Very basic styling, followed Elanco's theme for the header details. */